body
 {
background: black;

 }
 header {

    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;

 }
 header .logo img
 {

    max-width: 150px;

 }
 .navigation
 {

display: absolute;

 }
 .navigation li
 {
list-style:none;
margin: 0 10px;


 }
 .navigation li a
 {
    color: rgb(0, 0, 0);
    text-decoration:wavy;
    font-weight: 500;
    letter-spacing: 10px;


 }
 .navigation li:hover a
 {

    color: rgb(255, 255, 255);
 }
 .search
 {
position: relative;
width: 300px;
height: 40px;

 }
 .search input
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    background:transparent;
    border: 1px solid rgb(255, 255, 255);outline: none;
border-radius: 4px;
padding: 0 10px 0 45px;
backdrop-filter: blure(10px);
}
.search input ::placeholder
{

    color: white;
}
.search .fa-search
{
position: absolute;
top: 50%;
left: 10px;
transform:translateY(-50%);
padding-right: 10px;
color: white;
border-right: 1px solid white;

}
.banner{
    
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner .bg
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.content
{
position: relative;
z-index: 1;
max-width: 550px;

}
.movieTitle{
   max-width: 2500px;

}
.banner .content h4{
  position: relative;
   color: rgb(255, 255, 255);
font-weight: 500;


}
.banner h4 span{
padding: 0 10px;
border-right: 1px solid rgba(255, 255, 255,0.5);
}
.banner .content h4 span:first-child
{
   padding-left: 0;
}
.banner .content h4 span:last-child
{
   border-right: none;
}
.banner .content h4 span i{
background:red;
color: whitesmoke;
padding: 0 8px;
display: inline-block;
font-style: normal;
border-radius: 2px;

}
.banner .content p{
   font-size: 1em;
   font-weight: 300;
   line-height: 1.5em;
   color: white;
   margin: 5px 0 20px;

}
.banner .content.buttons a{
   position: relative;
   display:inline-block ;
   margin-right: 10px;
   background: red;
   color: white;
   padding: 6px 20px;
   text-decoration: none;
   font-weight: 500;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.banner.content.buttons a:nth-child(2)
{
   background: black;
   border:1px solid rgba(255, 255, 255,0.1) ;
   

}
.banner.banner.content.buttons a:nth-child(2)
{
background: red;


}
.play{
position: absolute;
bottom: 50px;
left: 100px;
display: inline-flex;
align-items: center;
text-transform: uppercase;
font-weight: 500;
text-decoration:none;
letter-spacing: 1px;
font-size: 1.2em;
cursor: pointer;



}
video{
   position: fixed;
   right: 0;
   left: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
 }
.Play img{

   margin-right: 10px;
   max-width:50px ;
}
.trailer
{
 position: fixed;
 top: 50%;
 left:50%;
 transform: translate(-50%,-50%);
 z-index: 100;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
backdrop-filter: blure(5px);
visibility:hidden;
opacity: 0;

}
.trailer.active
{
   visibility: visible;
   opacity: 1;
}
.trailer video
{
 max-width: 900px;
 outline: none;


}
.close{
position: fixed;
top: 90px;
right: 30px;
cursor:pointer;
filter: invert(1);
max-width: 32px;

}
@media(max-width :991px)
{ header{
 padding:  20px 50px;
 flex-direction: column;

}
  .navigation
   {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 10px 0;
}
.banner{

padding: 100px 50px;

}
.banner.play{
   left: 50px;
   font-size: 1em;  
}
.Play img {
   margin-right: 10px;
   max-width: 40px;
}
.trailer video{
   max-width: 10%;
   outline: none;
}
}
@media(max-width: 600px){
 header{
    padding: 20px;
  
 }
 .search
 {
    position: relative;
    width:calc(100%-20px);
    height: 40px;
 }
 .banner
 {
    padding: 220px 20px 120px;
 }
.banner.play{
   left: 20px;
   font-size: 1px;
   bottom: 30px;
}
}
span{
   color: white;
}
.bg_01{
   color: aqua;
}
h4{
   position: fixed;
   bottom: 43%;
}
p{
   position: fixed;
   bottom: 20%;
   color: black;
   right: 50%;
}
a{
   align-items: center;
position: relative;
   color: aliceblue;
   font-size: 2rem;
}
.button{
position: fixed;
border-radius: 10%;
bottom: 15%;
}
.Play{
   color: aliceblue;
position: fixed;
bottom: 05%;
}

